In [1]:
print('trial')

trial

# 1. Integer

Integer is a numerik data type.

In [69]:
print(1,2,3)
type(1)

1 2 3

int

# 2. Floating-poin

Floating-poine is a decimal data type for pytho

In [70]:
print(4.0)

4.0

In [71]:
2.

2.0

In [72]:
.8

0.8

In [73]:
.4e7

4000000.0

In [74]:
4.2e-2

0.042

# 3. String

String is a sequence of character data

In [75]:
print('trial for string data type')

trial for string data type

In [76]:
a=('trial for string data type')
type(a)

str

In [77]:
print("this is contain quote (') character")

this is contain quote (') character

# 4. Boolean

Boolean has 2 values, they are True or False

In [78]:
False

False

In [79]:
True

True

In [80]:
type(False)

bool

In [81]:
type(True)

bool

In [82]:
type("True")

str

# 5. Variables
## 5.1. Variables Assignment

Variable is a notation with value

In [83]:
n=300
n

300

In [84]:
a=400
print(a)

400

## 5.1. Variables Names

In [85]:
name = 'Puji'
age = 17
has_laptop = True
print(name, age, has_laptop)

Puji 17 True

In [86]:
age=1
Age=10
print(age, Age)

1 10

# 6. Operator and Expression in Python

In [87]:
a=5
b=2
c=a+b
d=a%b
e=a**b
print(c)
print(d)
print(e)

7
1
25

## 6.2 Comparison Operators

In [88]:
a=10
b=20
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

False
True
True
False

# 7. String Manipulation

In [89]:
# + operator

a='foo'
b='bar'
c='bats'

print(a+b)

foobar

In [90]:
print('Hactiv8 ' + 'Inalum')

Hactiv8 Inalum

In [91]:
# * operator

print('fuu' * 5)

fuufuufuufuufuu

In [92]:
a*8

'foofoofoofoofoofoofoofoo'

In [93]:
# in operator

s='foo'

s in 'that is food for us'

True

In [94]:
s in 'that is ice for us'

False

In [95]:
# Case convertion

z="HackTIivAte InAlUm"

In [96]:
z.capitalize()

'Hacktiivate inalum'

In [97]:
z.title()

'Hacktiivate Inalum'

In [98]:
#Lowercase

print(z.lower())

hacktiivate inalum

In [99]:
#Uppercase
z.upper()

'HACKTIIVATE INALUM'

In [100]:
print(z.upper(), z.lower())

HACKTIIVATE INALUM hacktiivate inalum

In [101]:
#swapcase : menukar (yang upper jadi lower dan sebaliknya)
z.swapcase()

'hACKtiIVaTE iNaLuM'

# 8 List

Ditandai dengan adanya []

In [102]:
a=['foo','bar','buz','ice']
a

['foo', 'bar', 'buz', 'ice']

In [103]:
b=[21.22, 'foo', 1, 3.64]
b

[21.22, 'foo', 1, 3.64]

In [104]:
s=['foo','bar','buz','ice']
s[2]

'buz'

In [105]:
#slicing

s[0:3]

['foo', 'bar', 'buz']

In [106]:
#slicing no. urut awal sampai 3-1
print(a)
s[:3]

['foo', 'bar', 'buz', 'ice']

['foo', 'bar', 'buz']

In [107]:
#slicing no. urut 2 sampai akhir

s[2:]

['buz', 'ice']

In [108]:
s+['value', 'value']

['foo', 'bar', 'buz', 'ice', 'value', 'value']

In [109]:
s * 3

['foo',
 'bar',
 'buz',
 'ice',
 'foo',
 'bar',
 'buz',
 'ice',
 'foo',
 'bar',
 'buz',
 'ice']

In [110]:
print(s)
len(s)

['foo', 'bar', 'buz', 'ice']

4

In [111]:
#karena abjad, maka diambil abjad terkecil

min(s)

'bar'

In [112]:
max(s)

'ice'

In [113]:
a=[1,2,3,4,6,7]
print(min(a))
print(max(a))

1
7

## 8.1 Modifying Single Value

In [114]:
s=['foo','bar','buz','ice']

In [115]:
s[1]=16
s

['foo', 16, 'buz', 'ice']

In [116]:
s[-1]=20
s

['foo', 16, 'buz', 20]

In [117]:
del s[2]
s

['foo', 16, 20]

## 8.2 Modifying Multiple List Value

In [118]:
s=['foo','bar','buz','ice']
s

['foo', 'bar', 'buz', 'ice']

In [119]:
s[1:3]

['bar', 'buz']

In [120]:
s[1:3]=[1.1, 2.2]
s

['foo', 1.1, 2.2, 'ice']

# 9. Tuples

In [121]:
s=('foo','bar','buz','ice')
s

('foo', 'bar', 'buz', 'ice')

In [122]:
s[0]

'foo'

In [123]:
s[-1]

'ice'

In [125]:
#Isi data Tuple tidak bisa diganti -> error

s[1]='newValue'

TypeError: 'tuple' object does not support item assignment

## 9.1 Dictionary

In [126]:
identitas = {
    'Fname' : 'Arda',
    'Lname' : 'Nadila',
    'age' : 17   
}

In [127]:
identitas

{'Fname': 'Arda', 'Lname': 'Nadila', 'age': 17}

In [128]:
identitas['Lname']

'Nadila'

In [129]:
identitas['Profesion']='Teacher'

In [130]:
identitas

{'Fname': 'Arda', 'Lname': 'Nadila', 'age': 17, 'Profesion': 'Teacher'}

In [131]:
identitas['Profesion']='Lecture'

In [132]:
identitas

{'Fname': 'Arda', 'Lname': 'Nadila', 'age': 17, 'Profesion': 'Lecture'}

In [133]:
del identitas['Profesion']

In [134]:
type(identitas)

dict

In [135]:
person={}

In [136]:
type(person)

dict

In [137]:
person['Fname']='Puji'
person['Lname']='Rahayu'
person['Age']=27
person['brothers']=['borther1', 'brother2']

In [138]:
person

{'Fname': 'Puji',
 'Lname': 'Rahayu',
 'Age': 27,
 'brothers': ['borther1', 'brother2']}

In [139]:
#List berisi dictionary

person['pets']={'Fish':'fish1', 'Rabbit':'Rabbit1'}

In [140]:
person

{'Fname': 'Puji',
 'Lname': 'Rahayu',
 'Age': 27,
 'brothers': ['borther1', 'brother2'],
 'pets': {'Fish': 'fish1', 'Rabbit': 'Rabbit1'}}

In [141]:
person['brothers'][1]

'brother2'

In [142]:
person['pets']['Rabbit']

'Rabbit1'

In [143]:
d={'a':10, 'b':20, 'c':30}

In [144]:
d

{'a': 10, 'b': 20, 'c': 30}

In [145]:
#keys

d.keys()

dict_keys(['a', 'b', 'c'])

In [146]:
#values

d.values()

dict_values([10, 20, 30])

In [147]:
#Python statement

print('Helo World!')

Helo World!

In [148]:
#Line continuation

person1_age=42
person2_age=26
person3_age=71

In [149]:
someone_is_on_working_age = (
    person1_age >= 18 and person1_age <= 65 or
    person2_age >= 18 and person2_age <= 65 or
    person3_age >= 18 and person3_age <= 65
)

someone_is_on_working_age

True

In [150]:
someone_is_on_working_age = (
    person1_age >= 18 and person1_age <= 65 and
    person2_age >= 18 and person2_age <= 65 and
    person3_age >= 18 and person3_age <= 65
)

someone_is_on_working_age

False

In [151]:
d=[1, 2, [3,4,5], 6]
d[2]

[3, 4, 5]

In [152]:
a=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [153]:
b=[
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 8]
]
b

[[1, 2, 3], [4, 5, 6], [7, 8, 8]]

In [154]:
a=
    'Hello'

SyntaxError: invalid syntax (<ipython-input-154-fd1b7b1b75c0>, line 1)

In [155]:
a=\
    'Hello'

In [156]:
a

'Hello'

In [157]:
#Multiple Statement per Line

x=10; y=20; z=20
print(x); print(y); print(z)

10
20
20

In [158]:
#Comment
a=[1, 2] #I'm a comment
a

[1, 2]

In [159]:
b="#I'm not a comment"
b

"#I'm not a comment"

In [160]:
'''
Initial value of radius of circle
The calculation as below
'''

pi=3.14
r=12
area=pi * (r ** 2)
print('the area for circle is', area)

the area for circle is 452.16

In [161]:
area

452.16

# 11. Condition

In [162]:
#If Statement

x=0
y=5

if x<y :
    print('yes')

if 'aul' in 'grault' :
    print('yes')

yes
yes

In [163]:
if 'foo' in ['bar', 'baz', 'quxx']:
    print('Expression was true')
    print('Execution statement')
    print('...')
    print('Done')

print('After conditional')

After conditional

In [164]:
if 'foo' in ['foo', 'baz', 'quxx']:
    print('outer condition is true')
    
    if 10>20 :
        print('inner condition 1')
    
    print('Between inner condition')
    
    if 10<20 :
        print('inner condition 2')
    
    print('End of outer condition')

print('After outer condition')

outer condition is true
Between inner condition
inner condition 2
End of outer condition
After outer condition

In [165]:
# else and elif

if<expr>:
    <statement>
else:
    <statement>

SyntaxError: invalid syntax (<ipython-input-165-184153511a19>, line 3)

In [166]:
x=20

if x>20:
    print('x is small')
else:
    print('x is large')

x is large

In [167]:
if<expr>:
    <statement>
elif<expr>:
    <statement>
elif<expr>:
    <statement>
...
else:
   <statement>

SyntaxError: invalid syntax (<ipython-input-167-a9620a399e74>, line 1)

In [168]:
name = 'Hacktiv8'

if name=='Fred':
    print('Hello Fred')
elif name=='Puji':
    print('Hello Puji')
elif name=='Hacktiv8':
    print('Hello Arlnod')
else:
    print('no name')

Hello Arlnod

In [169]:
if 'a' in 'bar':
    print('right')
elif 1/0:
    print('wrong')
elif var:       #tidak ada variabel var
    print('srong also')

right

In [170]:
#One Line if Statement

if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [171]:
x=2

if x==1: print('foo'); print('coy');
elif x==2: print('qux'); print('try');
else: print('SALAH')

qux
try

In [172]:
##Ternary operator (Conditional Expression)

age=22

'teen' if age<21 else 'adult'

'adult'

In [173]:
if a>b:
    m=a
else:
    m=b
    
m=a if a>b else b

TypeError: '>' not supported between instances of 'list' and 'str'

In [174]:
##Pass statement

if True:
    pass

print('foo')

foo

In [175]:
##while -> untuk looping / pengulangan

n=5

while n>0:
    n -= 1
    print(n)

4
3
2
1
0

In [176]:
#Break and Continue Statement

n=5

while n > 0:
    n -=1
    if n==1:
        break #pass
    print(n)
print('Loop Ended')

4
3
2
Loop Ended

In [177]:
n=5

while n > 0:
    n -=1
    if n==1:
        continue #pass
    print(n)
print('Loop Ended')

4
3
2
0
Loop Ended

In [178]:
n=5

while n > 0:
    n -=1
    print(n)
else:
    print('Loop Ended')

4
3
2
1
0
Loop Ended

In [179]:
n=5

while n > 0:
    n -=1
    if n==1:
        break #pass
    print(n)
else:
    print('Loop Ended')

4
3
2

In [180]:
#One Line while loops

n=5

while n > 0: n -= 1; print(n);

4
3
2
1
0

In [181]:
n=5
while n>0: n-=1; print(n)

4
3
2
1
0

In [182]:
a = ['foo', 'bar', 'baz']

for i in a:
    print(i)

foo
bar
baz

In [183]:
d = {'foo':1, 'bar':2, 'baz':3}

for k in d:
    print(k)

foo
bar
baz

In [184]:
d['foo']

1

In [185]:
#Range Fnction

x=range(10)
x

range(0, 10)

In [186]:
for i in x:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [187]:
#break and continue

for i in ['foo', 'bar', 'baz']:
    if 'z' in i:
        break
    print(i)

foo
bar

In [188]:
for i in ['foo', 'bar', 'baz']:
    if 'z' in i:
        continue
    print(i)

foo
bar

In [189]:
for i in ['foo', 'bar', 'baz']:
    print(i)
else :
    print("Done")

foo
bar
baz
Done

In [190]:
for i in ['foo', 'bar', 'baz']:
    if 'z' in i:
        break
    print(i)
else:
    print('Done')

foo
bar

In [191]:
#TEMPERATURE CONVERTER

temp=input("Ketik temperatur yang ingin dikonversi")

Ketik temperatur yang ingin dikonversi

In [192]:
#TEMPERATURE CONVERTER

temp=input("Ketik temperatur yang ingin dikonversi")

Ketik temperatur yang ingin dikonversi

In [193]:
#TEMPERATURE CONVERTER

temp=input("Ketik temperatur yang ingin dikonversi, eg. 45F, 28C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = (9 * degree) / 5 + 32
elif i_convertion == "F":
    result = (degree - 32) * 5/9
else:
    print("masukkan yang benar")

print("Temperaturnya adalah", result)

Ketik temperatur yang ingin dikonversi, eg. 45F, 28C: 45F
Temperaturnya adalah 7.222222222222222

In [194]:
temp

'45F'

In [195]:
result

7.222222222222222

In [196]:
#TEMPERATURE CONVERTER

temp = input("Ketik temperatur yang ingin dikonversi, eg. 45F, 28C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == 'C':
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == 'F':
    result = int(round((degree - 32) * 5 / 9))
else:
    print('masukkan yang benar')

print('Temperaturnya adalah', result)

Ketik temperatur yang ingin dikonversi, eg. 45F, 28C: 45F
Temperaturnya adalah 7

In [198]:
while True:
    mag = input("Ketikkan karakter: ")
    print(mag)
    if mag == 'stop':
        break

Ketikkan karakter: trial
trial
Ketikkan karakter: stop
stop