# Classification 2

## Naive Boyes

In [1]:
#Naive Boyes Classifier

In [2]:
# Assigning features and label variables

# First Feature
weather=['Sunny','Sunny','Overcast','Rainy','Rainy','Rainy','Overcast','Sunny','Sunny',
'Rainy','Sunny','Overcast','Overcast','Rainy']

# Second Feature
temp=['Hot','Hot','Hot','Mild','Cool','Cool','Cool','Mild','Cool','Mild','Mild','Mild','Hot','Mild']

# Label or target varible
play=['No','No','Yes','Yes','Yes','No','Yes','No','Yes','Yes','Yes','Yes','Yes','No']

In [3]:
#import label encoder
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

weather_encoded = le.fit_transform(weather)
temp_encoded = le.fit_transform(temp)
label = le.fit_transform(play)
features = list(zip(weather_encoded, temp_encoded))

In [4]:
from sklearn.naive_bayes import GaussianNB

In [5]:
model = GaussianNB()
model.fit(features, label)

GaussianNB(priors=None, var_smoothing=1e-09)

In [6]:
print(model.predict([[0, 1]]))

[1]

In [7]:
# NB multiple labels

In [8]:
from sklearn import datasets

wine = datasets.load_wine()

In [9]:
wine.data.shape

(178, 13)

In [10]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(wine.data, wine.target, test_size=0.3)

In [11]:
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()

nb.fit(x_train, y_train)

y_pred = nb.predict(x_test)

In [12]:
from sklearn import metrics

metrics.accuracy_score(y_test, y_pred)

0.9629629629629629

## Decission Tree

In [13]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [14]:
col_names = ['pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'pedigree', 'age', 'label']

# load dataset
pima = pd.read_csv("https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/diabetes.csv", header=None, names=col_names)

In [15]:
pima.head()

,pregnant,glucose,bp,skin,insulin,bmi,pedigree,age,label
0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0

In [16]:
pima.drop(0, inplace=True)

In [17]:
pima.head()

  pregnant glucose  bp skin insulin   bmi pedigree age label
1        6     148  72   35       0  33.6    0.627  50     1
2        1      85  66   29       0  26.6    0.351  31     0
3        8     183  64    0       0  23.3    0.672  32     1
4        1      89  66   23      94  28.1    0.167  21     0
5        0     137  40   35     168  43.1    2.288  33     1

In [18]:
pima.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 768 entries, 1 to 768
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  768 non-null    object
 1   glucose   768 non-null    object
 2   bp        768 non-null    object
 3   skin      768 non-null    object
 4   insulin   768 non-null    object
 5   bmi       768 non-null    object
 6   pedigree  768 non-null    object
 7   age       768 non-null    object
 8   label     768 non-null    object
dtypes: object(9)
memory usage: 60.0+ KB

In [19]:
pima.columns

Index(['pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'pedigree',
       'age', 'label'],
      dtype='object')

In [20]:
numer = ['pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'pedigree', 'age', 'label']

for col in numer:
    pima[col] = pd.to_numeric(pima[col], errors='coerce')

In [21]:
pima.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 768 entries, 1 to 768
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  768 non-null    int64
 1   glucose   768 non-null    int64
 2   bp        768 non-null    int64
 3   skin      768 non-null    int64
 4   insulin   768 non-null    int64
 5   bmi       768 non-null    float64
 6   pedigree  768 non-null    float64
 7   age       768 non-null    int64
 8   label     768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 60.0 KB

In [22]:
features_cols = ['pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'pedigree', 'age']

x = pima[features_cols]
y = pima['label']

In [23]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [24]:
pima.dropna(inplace=True)

In [25]:
x = pima.drop('label', 1)

In [26]:
x

     pregnant  glucose  bp  skin  insulin   bmi  pedigree  age
1           6      148  72    35        0  33.6     0.627   50
2           1       85  66    29        0  26.6     0.351   31
3           8      183  64     0        0  23.3     0.672   32
4           1       89  66    23       94  28.1     0.167   21
5           0      137  40    35      168  43.1     2.288   33
..        ...      ...  ..   ...      ...   ...       ...  ...
764        10      101  76    48      180  32.9     0.171   63
765         2      122  70    27        0  36.8     0.340   27
766         5      121  72    23      112  26.2     0.245   30
767         1      126  60     0        0  30.1     0.349   47
768         1       93  70    31        0  30.4     0.315   23

[768 rows x 8 columns]

In [27]:
dt = DecisionTreeClassifier()

dt.fit(x_train, y_train)

y_pred = dt.predict(x_test)

In [28]:
print('accurate : ', metrics.accuracy_score(y_test, y_pred))

accurate :  0.6623376623376623

In [29]:
!pip install graphviz
!pip install pydotplus

Requirement already satisfied: graphviz in e:\anaconda3\lib\site-packages (0.14)
Requirement already satisfied: pydotplus in e:\anaconda3\lib\site-packages (2.0.2)
Requirement already satisfied: pyparsing>=2.0.1 in e:\anaconda3\lib\site-packages (from pydotplus) (2.4.6)

In [30]:
#import sklearn.tree as tree
#import pydotplus
#from sklearn.externals.six import StringIO 
#from IPython.display import Image
#dot_data = StringIO()
#tree.export_graphviz(clf, 
 #out_file=dot_data, 
 #class_names=['0','1'], # the target names.
 #feature_names=feature_cols, # the feature names.
 #filled=True, # Whether to fill in the boxes with colours.
 #rounded=True, # Whether to round the corners of the boxes.
 #special_characters=True)
#graph = pydotplus.graph_from_dot_data(dot_data.getvalue()) 
#Image(graph.create_png())

In [31]:
dt = DecisionTreeClassifier(criterion='entropy', max_depth=3)

In [48]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(criterion="entropy", max_depth=3)

# Train Decision Tree Classifer
clf = clf.fit(x_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(x_test)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9777777777777777

In [36]:
dt.fit(x_train, y_train)

y_pred = dt.predict(x_test)
print('accuracy : ', metrics.accuracy_score(y_test, y_pred))

TypeError: 'tuple' object is not callable

In [37]:
#Random Forest

In [38]:
from sklearn import datasets

iris = datasets.load_iris()

In [39]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [40]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [41]:
iris.data[0:5]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])

In [42]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [43]:
from sklearn.model_selection import train_test_split

In [45]:
x_train, x_test, y_train, y_test = train_test_split(iris.data, iris.target, test_size=0.3)

In [52]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=100)

In [53]:
rf.fit(x_train, y_train)

y_pred = rf.predict(x_test)

In [54]:
print('accuracy : ', metrics.accuracy_score(y_test, y_pred))

accuracy :  0.9555555555555556

In [55]:
rf.predict([[3, 5, 4, 2]])

array([2])

## SVM

In [56]:
from sklearn import datasets

cancer = datasets.load_breast_cancer()

In [57]:
cancer.feature_names

array(['mean radius', 'mean texture', 'mean perimeter', 'mean area',
       'mean smoothness', 'mean compactness', 'mean concavity',
       'mean concave points', 'mean symmetry', 'mean fractal dimension',
       'radius error', 'texture error', 'perimeter error', 'area error',
       'smoothness error', 'compactness error', 'concavity error',
       'concave points error', 'symmetry error',
       'fractal dimension error', 'worst radius', 'worst texture',
       'worst perimeter', 'worst area', 'worst smoothness',
       'worst compactness', 'worst concavity', 'worst concave points',
       'worst symmetry', 'worst fractal dimension'], dtype='<U23')

In [58]:
cancer.target_names

array(['malignant', 'benign'], dtype='<U9')

In [59]:
cancer.data.shape

(569, 30)

In [61]:
X_train, X_test, y_train, y_test = train_test_split(cancer.data, cancer.target, test_size=0.3)

In [62]:
from sklearn import svm

In [64]:
model = svm.SVC()

model.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [65]:
y_pred = model.predict(X_test)

In [66]:
print('Accuracy : ', metrics.accuracy_score(y_test, y_pred))

Accuracy :  0.9064327485380117

In [67]:
model = svm.SVC(kernel='linear')

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print('Accuracy : ', metrics.accuracy_score(y_test, y_pred))

Accuracy :  0.9532163742690059

## Multiple Algoritm

In [68]:
train = pd.read_csv('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/Final_Dataset/train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/Final_Dataset/test.csv')

In [69]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [71]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [70]:
train.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [73]:
train['Education'].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [74]:
train['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [76]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [77]:
train.fillna(train.mean(), inplace=True)

In [78]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [80]:
train.Gender.fillna(train.Gender.mode()[0], inplace=True)

train.isnull().sum()

Loan_ID               0
Gender                0
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [81]:
train.Married.fillna(train.Married.mode()[0], inplace=True)
train.Dependents.fillna(train.Dependents.mode()[0], inplace=True)
train.Self_Employed.fillna(train.Self_Employed.mode()[0], inplace=True)

train.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [83]:
import numpy as np
train.Loan_Amount_Term=np.log(train.Loan_Amount_Term)

In [84]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.412162,5.886104,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,5.886104,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,5.886104,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,5.886104,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.000000,5.886104,1.0,Urban,Y

In [86]:
X = train.drop('Loan_Status', 1)
y = train.Loan_Status

In [87]:
X

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.412162,5.886104,1.0,Urban
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,5.886104,1.0,Rural
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,5.886104,1.0,Urban
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,5.886104,1.0,Urban
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.000000,5.886104,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.000000,5.886104,1.0,Rural
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.000000,5.192957,1.0,Rural
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.000000,5.886104,1.0,Urban
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.000000,5.886104,1.0,Urban
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.000000,5.886104,0.0,Semiurban

In [92]:
X = train.drop('Loan_Status', 1)
y = train.Loan_Status

In [93]:
X = pd.get_dummies(X)

In [94]:
X.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_ID_LP001002,Loan_ID_LP001003,Loan_ID_LP001005,Loan_ID_LP001006,Loan_ID_LP001008,...,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,5849,0.0,146.412162,5.886104,1.0,1,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
1,4583,1508.0,128.000000,5.886104,1.0,0,1,0,0,0,...,1,0,0,1,0,1,0,1,0,0
2,3000,0.0,66.000000,5.886104,1.0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,1
3,2583,2358.0,120.000000,5.886104,1.0,0,0,0,1,0,...,0,0,0,0,1,1,0,0,0,1
4,6000,0.0,141.000000,5.886104,1.0,0,0,0,0,1,...,0,0,0,1,0,1,0,0,0,1

In [95]:
y.head()

0    Y
1    N
2    Y
3    Y
4    Y
Name: Loan_Status, dtype: object

In [96]:
from sklearn.model_selection import train_test_split

In [97]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [101]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [102]:
# Logistic Regression

from sklearn.linear_model import LogisticRegression

LogisticModel = LogisticRegression()

LogisticModel.fit(X_train, y_train)

pred_LR = LogisticModel.predict(X_test)

E:\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [103]:
# Logistic Regression Accuracy

print('Accuracy : ', accuracy_score(y_test, pred_LR))
print(confusion_matrix(y_test, pred_LR))

Accuracy :  0.7479674796747967
[[24 20]
 [11 68]]

In [104]:
# KNN

from sklearn.neighbors import KNeighborsClassifier

KNClass = KNeighborsClassifier()

KNClass.fit(X_train, y_train)

pred_KNN = KNClass.predict(X_test)

In [105]:
# KNN Accuracy

print('Accuracy : ', accuracy_score(y_test, pred_KNN))
print(confusion_matrix(y_test, pred_KNN))

Accuracy :  0.6260162601626016
[[ 7 37]
 [ 9 70]]

In [106]:
# Naive Bayes

from sklearn.naive_bayes import GaussianNB

GaussNB = GaussianNB()

GaussNB.fit(X_train, y_train)

pred_NB = GaussNB.predict(X_test)

In [108]:
# Naive Bayes Accuracy

print('Accuracy : ', accuracy_score(y_test, pred_NB))
print(confusion_matrix(y_test, pred_NB))

Accuracy :  0.7804878048780488
[[25 19]
 [ 8 71]]

In [110]:
# Decision Tree

from sklearn.tree import DecisionTreeClassifier

DesTree = DecisionTreeClassifier()

DesTree.fit(X_train, y_train)

pred_DT = DesTree.predict(X_test)

# Decision Tree Accuracy

print('Accuracy : ', accuracy_score(y_test, pred_DT))
print(confusion_matrix(y_test, pred_DT))

Accuracy :  0.7886178861788617
[[28 16]
 [10 69]]

In [111]:
# Random Forest

from sklearn.ensemble import RandomForestClassifier

RandForest = RandomForestClassifier()

RandForest.fit(X_train, y_train)

pred_RF = RandForest.predict(X_test)

# Random Forest Accuracy

print('Accuracy : ', accuracy_score(y_test, pred_RF))
print(confusion_matrix(y_test, pred_RF))

Accuracy :  0.8455284552845529
[[25 19]
 [ 0 79]]

In [113]:
# SVM

from sklearn.svm import SVC

SVMModel = SVC()
SVMModel.fit(X_train, y_train)
pred_SVM = SVMModel.predict(X_test)

#Accuracy

print('Accuracy : ', accuracy_score(y_test, pred_SVM))
print(confusion_matrix(y_test, pred_SVM))

Accuracy :  0.6422764227642277
[[ 0 44]
 [ 0 79]]

In [114]:
print('Logistic Regression : ', accuracy_score(y_test, pred_LR))
print('KNN : ', accuracy_score(y_test, pred_KNN))
print('Naive Bayes : ', accuracy_score(y_test, pred_NB))
print('Decision Tree : ', accuracy_score(y_test, pred_DT))
print('Random Forest : ', accuracy_score(y_test, pred_RF))
print('SVM : ', accuracy_score(y_test, pred_SVM))

Logistic Regression :  0.7479674796747967
KNN :  0.6260162601626016
Naive Bayes :  0.7804878048780488
Decision Tree :  0.7886178861788617
Random Forest :  0.8455284552845529
SVM :  0.6422764227642277

In [116]:
pd.DataFrame(pred_RF, columns=['Predictions'])

    Predictions
0             N
1             Y
2             Y
3             Y
4             Y
..          ...
118           Y
119           Y
120           Y
121           Y
122           Y

[123 rows x 1 columns]